*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  background-size: cover;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

input:focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 10rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.block {
  margin: 1rem;
  display: block;
  background-color: grey;
}
.block_header {
  height: 8rem;
  width: 25rem;
}
.block_para {
  width: 25rem;
}
.block_title {
  width: 20rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-items {
  display: flex;
  margin: 1rem 0 1rem 0;
}
.home-box {
  display: block;
}
.home-text {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0 0;
}
.home-text_right {
  align-items: flex-end;
}

.img-left {
  width: 30rem;
  height: 20rem;
}
.img-right {
  width: 25rem;
  height: 30rem;
}

.about {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.about-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  width: 90rem;
  padding: 0 1rem;
}
.about-items::after {
  background-color: black;
  content: "sfas";
  box-shadow: 1rem 0 0 #fff;
}
.about-items::after:hover {
  height: 30rem;
}
.about-items::before {
  background-color: black;
  content: "sfas";
}
.about-item {
  background-image: url("../images/mathieu-stern-1zO4O3Z0UJA-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 15rem;
  width: 15rem;
}
.about-item:hover {
  height: 20rem;
  width: 20rem;
  margin: -1rem;
}

.service {
  margin: 3rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 5rem;
}
.service-card {
  display: flex;
  flex: 25%;
  margin: 1rem;
}
.service_image {
  background-image: linear-gradient(to bottom right, #2c3639, rgba(255, 255, 255, 0.5)), url("../images/mackenzie-marco-XG88BYDSDZA-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}
.service-text:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-text:hover > div.block_header {
  width: 40rem;
}

.box {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.box-items {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.box-item {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex: 25%;
  width: 50rem;
}
.box-item > * {
  width: 10rem;
  font-size: 1rem;
  height: 2rem;
}
.box-label {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.box-field {
  width: 20rem;
  padding: 0.5rem;
}

.navbar-items > ul {
  display: flex;
  align-items: center;
}
.navbar-items > ul > li {
  font-size: 1.5rem;
  color: azure;
}
.navbar-items > ul > li:last-of-type {
  margin-left: auto;
}
.navbar-search {
  justify-self: end;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0 0;
  width: 20rem;
  margin-right: 2rem;
  background-color: bisque;
}
.navbar-item {
  display: block;
  padding: 1rem;
}
.navbar-item:hover {
  background-color: bisque;
  color: #000;
}/*# sourceMappingURL=style.css.map */