.about{
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  &-items{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 30rem;
    width: 90rem;
    padding: 0 1rem;

    &::after{
      background-color: black;
      content: "sfas";
      box-shadow: 1rem 0 0 #fff;
      &:hover{
        height: 30rem;
      }
    }
    &::before{
      background-color: black;
      content: "sfas";
    }
  }

  &-item{
    background-image: url('../images/mathieu-stern-1zO4O3Z0UJA-unsplash.jpg');
    background-attachment: fixed;
    background-size:cover;
    height: 15rem;
    width: 15rem;
    // margin: 0 .5rem;
    &:hover{
      height: 20rem;
      width: 20rem;
      margin: -1rem;
    }
  }
}