.service{
  margin: 3rem 0 0 0;
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-wrap: wrap;
  margin: 0 5rem;

  &-card{
    // background-color: grey;
    display: flex;

    flex: 25%;
    margin: 1rem;
  }
  
  &_image{
    background-image: linear-gradient(to bottom right,rgba(#2C3639,1),rgba(#fff,0.5)),url('../images/mackenzie-marco-XG88BYDSDZA-unsplash.jpg');
    background-attachment: fixed;
    background-size:cover;
    width: 100%;
    height: auto;

    // transition: hover 2s;
  }
    
  &-text{
    &:hover{
      display: flex;
      flex-direction: column;
      align-items: center;
      & > div.block_header{
        width: 40rem;
      }
    }
    // margin: 1rem 0;
  }
}

.box{
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: antiquewhite;


  &-items{
    display: flex;
    flex-direction: column;
    // background-color: aqua;
    margin: 2rem 0;
  }
  
  &-item{
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex: 25%;
    width: 50rem;
    & > *{
      width: 10rem;
      font-size: 1rem;
      height: 2rem;
    }
  }

  &-label{
    display: flex;
    align-items: center;
  }
  &-field{
    width: 20rem;
    padding: .5rem;
  }
}