.service{
  margin: 3rem 0 0 0;
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-wrap: wrap;
  margin: 0 5rem;

  &-card{
    // background-color: grey;
    display: flex;

    flex: 25%;
    margin: 1rem;
  }
  
  &_image{
    background-image: linear-gradient(to bottom right,rgba(#2C3639,1),rgba(#fff,0.5)),url('../images/mackenzie-marco-XG88BYDSDZA-unsplash.jpg');
    background-attachment: fixed;
    background-size:cover;
    width: 100%;
    height: auto;

    // transition: hover 2s;
  }
    
  &-text{
    &:hover{
      display: flex;
      flex-direction: column;
      align-items: center;
      & > div.block_header{
        width: 40rem;
      }
    }
    // margin: 1rem 0;
  }
}