.block{
  // background-color: aquamarine;
  margin: 1rem;
  display: inline-block;
  background-color: grey;
  
  width: 20rem;

  &_header{
    height: 8rem;
    width: 25rem;
  }

  &_para{
    width: 25rem;
  }

}